.header {
    height: 365px;
    background-color: #D9D9D9;
}

.wrapper {
    max-width: 970px;
    margin: 0 auto;
}

.header .header-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.header .header-wrapper .photo {
    flex-basis: 40%;
    position: relative;
    height: 100%;
    background: url(../images/person_11.jpg) no-repeat center; 
    background-size: cover;
}

.header .header-wrapper .main-info {
    width: 100%;
    flex-basis: 60%;
    margin-top: 59px;
    padding: 0 35px 0 70px;
}

.header .header-wrapper .main-info .name {
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    color: #151618;
}

.header .header-wrapper .main-info .about_me {
    font-size: 14px;
    color: #838486;
    margin-top: 10px;
}

.header .header-wrapper .main-info .about_me h3 {
    font-size: 18px;
    color: #656566
}

.header .header-wrapper .photo .wrapper {
    position: absolute;
    height: 70px;
    width: 70px;
    right: 0;
    margin-top: 59px;
    transform: translateX(35px);
}

.header .header-wrapper .photo .wrapper .short-name {
    height: 70px;
    width: 70px;
    background-color: #BDB29E;
}

.header .header-wrapper .short-name .p-short-name {
    display: flex;
    height: 70px;
    width: 70px;
    font-size: 40px;
    color: #918574;
    justify-content: center;
    align-items: center;
}

.header .wrapper .photo img {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
}

.main .main-wrapper {
    display: flex;
}

.main .main-wrapper .left {
    flex-basis: 40%;
    padding: 40px 30px;
    background-color: #D9D9D9;
}

.info > li > .body > a {
    color: #000000;
    text-decoration: none;
    transition: color .25s ease;
}

.info > li > .body > a:hover {
    color: rgb(153, 99, 0);
}


.main .main-wrapper .right {
    position: relative;
    flex-basis: 60%;
    padding: 35px 30px 40px 30px;
    overflow-y: hidden;
}

.right .footer_rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.right .footer_rectangle .rectangle {
    height: 36px;
    width: 36px;
    background-color: #AFA18F;
}

div.title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


div.title::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #B7B7B9;
    bottom: 0;
}

div.title::after {
    content: '';
    display: block;
    height: 3px;
    width: 40%;
    background-color: #369ff9;
}

.contacts ul.info {
    padding: 10px 0;
}

.contacts .info > li {
    display: flex;
}

.contacts .info > li + li {
    padding-top: 10px;
}

.contacts .info > li > .icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    /*background-color: #B3AA9A;*/
    border: 2px solid #B3AA9A;
    border-radius: 100%;
}

.main .main-wrapper .education {
    padding-top: 35px;
}

.main .main-wrapper .skills {
    padding-top: 35px;
}

.main .main-wrapper .languages {
    padding-top: 35px;
}

.right .experience .title {
    font-size: 25px;
}

.experience .past_works {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.experience .past_works:after {
    position: absolute;
    content: '';
    /*height: calc(100vh - 365px - 65px);*/
    height: 100vh;
    width: calc(20% + 5%);
    text-align: right;
    border-right: 2px solid #B3AA9A;
    margin-top: 10px;
}

.past_works .work {
    display: flex;
    flex-direction: row;
}

.past_works .work + .work {
    margin-top: 60px;
}

.work .years {
    flex-basis: 20%;
    font-size: 18px;
}

.work .point {
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
}

.work .point .circle {
    height: 20px;
    width: 20px;
    border: 1px solid #B3AA9A;
    border-radius: 100%;
    background-color: #B3AA9A;
}

.work .name_work {
    flex-basis: 70%;
}

.work .name_work .name {
    font-size: 18px;
}

.work .name_work .address {
    font-size: 12px;
}

@media only screen and (max-width: 915px) {
    .header .header-wrapper .main-info .name {
        font-size: 32px;
    }
}


@media only screen and (max-width: 600px) {
    .header {
        height: 680px;
    }

    .header .header-wrapper {
        position: relative;
        flex-direction: column;
    }

    .header .header-wrapper .main-info .name {
        font-size: 38px;
    }

    .header .header-wrapper .photo {
        flex-basis: 50%;
        position: unset;
    }
    
    .header .header-wrapper .main-info {
        margin-top: 0;
        padding-top: 59px;
        flex-basis: 50%;
    }

    .header .header-wrapper .photo .wrapper {
        display: flex;
        right: 50%;
        align-items: center;
        margin-top: 0;
        height: 100%;
    }

    .main .main-wrapper {
        flex-direction: column;
    }
    
    .main .main-wrapper .right {
        order: 1;
    }

    .main .main-wrapper .left {
        order: 2;
    }
}